* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}

header,
main {
  display: block;
}

header {
  padding-top: 80px;
  padding-bottom: 80px;
}

main {
  padding-top: 80px;
  background-color: hsl(0deg, 0%, 40%);
  border-top: 6px solid hsl(0deg, 0%, 60%);
  height: 473px;
}

.max-width-wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 360px;
  margin: 64px 80px;
}

.title {
  margin: 0;
}

.card {
  padding: 16px 64px;
  background-color: white;
  border-bottom: 6px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  margin-left: -72px;
  padding-left: 16px;
  max-width: 400px;
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
}

strong {
  color: hsl(0deg, 0%, 60%);
}
